<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

{{$lesson := .}}

<body>
    <!-- Passing data -->
    <h1>Go Learn</h1>
    <p>Video: {{$lesson}}</p>

    <!-- Passing slice -->
    <ul>
        {{range .}}
        <li>{{.}}</li>
        {{end}}
    </ul>

    <!-- Passing maps -->
    <ul>
        {{range $key, $value := .}}
        <li>{{$key}} - {{$value}}</li>
        {{end}}
    </ul>

</body>

</html>